body {
  font-family: Jost;
}
.display-1 {
  font-family: 'Jost', sans-serif;
  font-size: 4.6rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 5.75rem;
}
.display-2 {
  font-family: 'Anton', sans-serif;
  font-size: 3rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 3.75rem;
}
.display-4 {
  font-family: 'Jost', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.375rem;
}
.display-5 {
  font-family: 'Jost', sans-serif;
  font-size: 2.2rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 2.75rem;
}
.display-7 {
  font-family: 'Jost', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 1.5rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 3.68rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.22rem;
    font-size: calc( 2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.88rem;
    font-size: calc( 1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.76rem;
    font-size: calc( 1.42rem + (2.2 - 1.42) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.42rem + (2.2 - 1.42) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #ffffff !important;
}
.bg-success {
  background-color: #49ff3f !important;
}
.bg-info {
  background-color: #6592e6 !important;
}
.bg-warning {
  background-color: #ffe161 !important;
}
.bg-danger {
  background-color: #ff9966 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #545454 !important;
  background-color: #d4d4d4 !important;
  border-color: #d4d4d4 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #808080 !important;
  background-color: #d4d4d4 !important;
  border-color: #d4d4d4 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #ff6666 !important;
  border-color: #ff6666 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #ff0f0f !important;
  border-color: #ff0f0f !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #ff0f0f !important;
  border-color: #ff0f0f !important;
}
.btn-info,
.btn-info:active {
  background-color: #6592e6 !important;
  border-color: #6592e6 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #2260d2 !important;
  border-color: #2260d2 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #2260d2 !important;
  border-color: #2260d2 !important;
}
.btn-success,
.btn-success:active {
  background-color: #49ff3f !important;
  border-color: #49ff3f !important;
  color: #033f00 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #0ce700 !important;
  border-color: #0ce700 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #033f00 !important;
  background-color: #0ce700 !important;
  border-color: #0ce700 !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
  color: #614f00 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #0a0800 !important;
  background-color: #ffd10a !important;
  border-color: #ffd10a !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #614f00 !important;
  background-color: #ffd10a !important;
  border-color: #ffd10a !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #ff5f0f !important;
  border-color: #ff5f0f !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #ff5f0f !important;
  border-color: #ff5f0f !important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #4f4f4f !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ffffff;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #d4d4d4 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #808080 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ff6666;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ff0f0f !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #ff6666 !important;
  border-color: #ff6666 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #6592e6;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #2260d2 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #6592e6 !important;
  border-color: #6592e6 !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #49ff3f;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #0ce700 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #033f00 !important;
  background-color: #49ff3f !important;
  border-color: #49ff3f !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ffe161;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffd10a !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #614f00 !important;
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ff9966;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ff5f0f !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #ffffff !important;
}
.text-secondary {
  color: #ff6666 !important;
}
.text-success {
  color: #49ff3f !important;
}
.text-info {
  color: #6592e6 !important;
}
.text-warning {
  color: #ffe161 !important;
}
.text-danger {
  color: #ff9966 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #cccccc !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #ff0000 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #0bd800 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #205ac5 !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #facb00 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #ff5500 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #ffffff;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #6592e6;
}
.alert-warning {
  background-color: #ffe161;
}
.alert-danger {
  background-color: #ff9966;
}
.mbr-gallery-filter li.active .btn {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #8c8c8c;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #ffffff;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Jost', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.375rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #ffffff !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Jost', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.375rem;
}
blockquote {
  border-color: #ffffff;
}
/* Forms */
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #ffffff;
  color: #000000;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #ffffff;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #000000 !important;
  background-color: #ffffff !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #ff6666 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23ffffff' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-tbpC0B7Xkw {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.cid-tbpC0B7Xkw .mbr-fallback-image.disabled {
  display: none;
}
.cid-tbpC0B7Xkw .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background-image: url("../../../assets/images/background13.jpg");
}
.cid-tbpC0B7Xkw .mbr-text,
.cid-tbpC0B7Xkw .mbr-section-btn {
  color: #232323;
}
.cid-tbpC0B7Xkw .btn {
  width: 100%;
}
.cid-tbpC0B7Xkw .mbr-section-btn {
  margin-bottom: 1.2rem;
}
.cid-tbpC0B7Xkw H1 {
  text-align: left;
  color: #ffffff;
}
.cid-tbpC0B7Xkw P {
  text-align: left;
  color: #ffffff;
}
.cid-tbquDTw9dJ {
  padding-top: 2rem;
  padding-bottom: 0rem;
  background-color: #232323;
}
.cid-tbquDTw9dJ .mbr-fallback-image.disabled {
  display: none;
}
.cid-tbquDTw9dJ .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tbquDTw9dJ .mbr-iconfont {
  display: block;
  font-size: 4rem;
  color: #ffffff;
  margin-bottom: 2rem;
}
.cid-tbquDTw9dJ .card-wrapper {
  min-height: 220px;
  transition: all 0.3s;
  border-radius: 4px;
  padding: 1rem;
  background: #ffe161;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}
.cid-tbqBBZk2je {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: #ffffff;
}
.cid-tbqBBZk2je .mbr-fallback-image.disabled {
  display: none;
}
.cid-tbqBBZk2je .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (min-width: 1500px) {
  .cid-tbqBBZk2je .container {
    max-width: 1400px;
  }
}
.cid-tbqBBZk2je .mbr-iconfont {
  display: block;
  font-size: 5rem;
  color: #6592e6;
  margin-bottom: 2rem;
}
.cid-tbqBBZk2je .card-wrapper {
  margin-top: 3rem;
}
.cid-tbqBBZk2je .row {
  justify-content: center;
}
.cid-tbrgCgcBYk {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: #232323;
}
.cid-tbrgCgcBYk .mbr-fallback-image.disabled {
  display: none;
}
.cid-tbrgCgcBYk .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tbrgCgcBYk .list {
  list-style: none;
  padding-left: 0;
  color: #ffe161;
  text-align: left;
}
@media (max-width: 991px) {
  .cid-tbrgCgcBYk .list {
    margin-bottom: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-tbrgCgcBYk .list {
    margin-bottom: 0rem;
  }
}
@media (max-width: 767px) {
  .cid-tbrgCgcBYk .row {
    text-align: center;
  }
}
@media (max-width: 991px) {
  .cid-tbrgCgcBYk div > *:last-child {
    margin-top: 0 !important;
  }
}
.cid-tbrgCgcBYk .copyright {
  color: #bbbbbb;
}
.cid-tbrgCgcBYk .mbr-section-subtitle {
  text-align: left;
}
.cid-tbqPA60EL4 {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.cid-tbqPA60EL4 .mbr-fallback-image.disabled {
  display: none;
}
.cid-tbqPA60EL4 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background-image: url("../../../assets/images/background13.jpg");
}
.cid-tbqPA60EL4 .mbr-text,
.cid-tbqPA60EL4 .mbr-section-btn {
  color: #232323;
}
.cid-tbqPA60EL4 .btn {
  width: 100%;
}
.cid-tbqPA60EL4 .mbr-section-btn {
  margin-bottom: 1.2rem;
}
.cid-tbqPA60EL4 H1 {
  text-align: left;
  color: #ffffff;
}
.cid-tbqPA60EL4 P {
  text-align: left;
  color: #ffffff;
}
.cid-tbqGmBcpWW {
  padding-top: 2rem;
  padding-bottom: 0rem;
  background-color: #232323;
}
.cid-tbqGmBcpWW .mbr-fallback-image.disabled {
  display: none;
}
.cid-tbqGmBcpWW .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tbqGmBcpWW .mbr-iconfont {
  display: block;
  font-size: 4rem;
  color: #ffffff;
  margin-bottom: 2rem;
}
.cid-tbqGmBcpWW .card-wrapper {
  min-height: 220px;
  transition: all 0.3s;
  border-radius: 4px;
  padding: 1rem;
  background: #ffe161;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}
.cid-tbqkhQorjV {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-tbqkhQorjV .mbr-fallback-image.disabled {
  display: none;
}
.cid-tbqkhQorjV .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tbqkhQorjV .card .card-header {
  background-color: transparent;
  margin-bottom: 0;
}
.cid-tbqkhQorjV .panel-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cid-tbqkhQorjV .mbr-iconfont {
  padding-left: 1rem;
  font-family: 'Moririse2' !important;
  font-size: 1.4rem !important;
  color: #ffffff;
}
.cid-tbqkhQorjV .panel-body,
.cid-tbqkhQorjV .card-header {
  padding: 1rem 0;
}
.cid-tbqkhQorjV .panel-title-edit {
  color: #000000;
}
.cid-tbqkhQorjV .panel-text {
  color: #000000;
}
.cid-tbrgCgcBYk {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: #232323;
}
.cid-tbrgCgcBYk .mbr-fallback-image.disabled {
  display: none;
}
.cid-tbrgCgcBYk .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tbrgCgcBYk .list {
  list-style: none;
  padding-left: 0;
  color: #ffe161;
  text-align: left;
}
@media (max-width: 991px) {
  .cid-tbrgCgcBYk .list {
    margin-bottom: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-tbrgCgcBYk .list {
    margin-bottom: 0rem;
  }
}
@media (max-width: 767px) {
  .cid-tbrgCgcBYk .row {
    text-align: center;
  }
}
@media (max-width: 991px) {
  .cid-tbrgCgcBYk div > *:last-child {
    margin-top: 0 !important;
  }
}
.cid-tbrgCgcBYk .copyright {
  color: #bbbbbb;
}
.cid-tbrgCgcBYk .mbr-section-subtitle {
  text-align: left;
}
.cid-tbqPxfj6im {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.cid-tbqPxfj6im .mbr-fallback-image.disabled {
  display: none;
}
.cid-tbqPxfj6im .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background-image: url("../../../assets/images/background13.jpg");
}
.cid-tbqPxfj6im .mbr-text,
.cid-tbqPxfj6im .mbr-section-btn {
  color: #232323;
}
.cid-tbqPxfj6im .btn {
  width: 100%;
}
.cid-tbqPxfj6im .mbr-section-btn {
  margin-bottom: 1.2rem;
}
.cid-tbqPxfj6im H1 {
  text-align: left;
  color: #ffffff;
}
.cid-tbqPxfj6im P {
  text-align: left;
  color: #ffffff;
}
.cid-tbqG6OiBWc {
  padding-top: 2rem;
  padding-bottom: 0rem;
  background-color: #232323;
}
.cid-tbqG6OiBWc .mbr-fallback-image.disabled {
  display: none;
}
.cid-tbqG6OiBWc .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tbqG6OiBWc .mbr-iconfont {
  display: block;
  font-size: 4rem;
  color: #ffffff;
  margin-bottom: 2rem;
}
.cid-tbqG6OiBWc .card-wrapper {
  min-height: 220px;
  transition: all 0.3s;
  border-radius: 4px;
  padding: 1rem;
  background: #ffe161;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}
.cid-tbq7IRm3N3 {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-tbq7IRm3N3 .mbr-fallback-image.disabled {
  display: none;
}
.cid-tbq7IRm3N3 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tbq7IRm3N3 .card .card-header {
  background-color: transparent;
  margin-bottom: 0;
}
.cid-tbq7IRm3N3 .panel-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cid-tbq7IRm3N3 .mbr-iconfont {
  padding-left: 1rem;
  font-family: 'Moririse2' !important;
  font-size: 1.4rem !important;
  color: #ffffff;
}
.cid-tbq7IRm3N3 .panel-body,
.cid-tbq7IRm3N3 .card-header {
  padding: 1rem 0;
}
.cid-tbq7IRm3N3 .panel-title-edit {
  color: #000000;
}
.cid-tbq7IRm3N3 .panel-text {
  text-align: center;
}
.cid-tbrgCgcBYk {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: #232323;
}
.cid-tbrgCgcBYk .mbr-fallback-image.disabled {
  display: none;
}
.cid-tbrgCgcBYk .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tbrgCgcBYk .list {
  list-style: none;
  padding-left: 0;
  color: #ffe161;
  text-align: left;
}
@media (max-width: 991px) {
  .cid-tbrgCgcBYk .list {
    margin-bottom: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-tbrgCgcBYk .list {
    margin-bottom: 0rem;
  }
}
@media (max-width: 767px) {
  .cid-tbrgCgcBYk .row {
    text-align: center;
  }
}
@media (max-width: 991px) {
  .cid-tbrgCgcBYk div > *:last-child {
    margin-top: 0 !important;
  }
}
.cid-tbrgCgcBYk .copyright {
  color: #bbbbbb;
}
.cid-tbrgCgcBYk .mbr-section-subtitle {
  text-align: left;
}
.cid-tbqPtSYGba {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.cid-tbqPtSYGba .mbr-fallback-image.disabled {
  display: none;
}
.cid-tbqPtSYGba .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background-image: url("../../../assets/images/background13.jpg");
}
.cid-tbqPtSYGba .mbr-text,
.cid-tbqPtSYGba .mbr-section-btn {
  color: #232323;
}
.cid-tbqPtSYGba .btn {
  width: 100%;
}
.cid-tbqPtSYGba .mbr-section-btn {
  margin-bottom: 1.2rem;
}
.cid-tbqPtSYGba H1 {
  text-align: left;
  color: #ffffff;
}
.cid-tbqPtSYGba P {
  text-align: left;
  color: #ffffff;
}
.cid-tbqG9ExH1b {
  padding-top: 2rem;
  padding-bottom: 0rem;
  background-color: #232323;
}
.cid-tbqG9ExH1b .mbr-fallback-image.disabled {
  display: none;
}
.cid-tbqG9ExH1b .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tbqG9ExH1b .mbr-iconfont {
  display: block;
  font-size: 4rem;
  color: #ffffff;
  margin-bottom: 2rem;
}
.cid-tbqG9ExH1b .card-wrapper {
  min-height: 220px;
  transition: all 0.3s;
  border-radius: 4px;
  padding: 1rem;
  background: #ffe161;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}
.cid-tbqfFZecl8 {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tbqfFZecl8 .counter-container ul {
  margin: 0;
  list-style: none;
  padding-left: 2.5rem;
}
.cid-tbqfFZecl8 .counter-container ul li {
  margin-bottom: 1rem;
  list-style: none;
  position: relative;
  padding-left: 1rem;
}
.cid-tbqfFZecl8 .counter-container ul li:before {
  position: absolute;
  left: -40px;
  content: "";
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
  background-color: #ffe161;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-top: 5px;
}
.cid-tbqfFZecl8 .mbr-text {
  color: #000000;
}
.cid-tbrgCgcBYk {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: #232323;
}
.cid-tbrgCgcBYk .mbr-fallback-image.disabled {
  display: none;
}
.cid-tbrgCgcBYk .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tbrgCgcBYk .list {
  list-style: none;
  padding-left: 0;
  color: #ffe161;
  text-align: left;
}
@media (max-width: 991px) {
  .cid-tbrgCgcBYk .list {
    margin-bottom: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-tbrgCgcBYk .list {
    margin-bottom: 0rem;
  }
}
@media (max-width: 767px) {
  .cid-tbrgCgcBYk .row {
    text-align: center;
  }
}
@media (max-width: 991px) {
  .cid-tbrgCgcBYk div > *:last-child {
    margin-top: 0 !important;
  }
}
.cid-tbrgCgcBYk .copyright {
  color: #bbbbbb;
}
.cid-tbrgCgcBYk .mbr-section-subtitle {
  text-align: left;
}
.cid-tbqPq0PQ7U {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.cid-tbqPq0PQ7U .mbr-fallback-image.disabled {
  display: none;
}
.cid-tbqPq0PQ7U .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background-image: url("../../../assets/images/background13.jpg");
}
.cid-tbqPq0PQ7U .mbr-text,
.cid-tbqPq0PQ7U .mbr-section-btn {
  color: #232323;
}
.cid-tbqPq0PQ7U .btn {
  width: 100%;
}
.cid-tbqPq0PQ7U .mbr-section-btn {
  margin-bottom: 1.2rem;
}
.cid-tbqPq0PQ7U H1 {
  text-align: left;
  color: #ffffff;
}
.cid-tbqPq0PQ7U P {
  text-align: left;
  color: #ffffff;
}
.cid-tbqHDfM8aN {
  padding-top: 2rem;
  padding-bottom: 0rem;
  background-color: #232323;
}
.cid-tbqHDfM8aN .mbr-fallback-image.disabled {
  display: none;
}
.cid-tbqHDfM8aN .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tbqHDfM8aN .mbr-iconfont {
  display: block;
  font-size: 4rem;
  color: #ffffff;
  margin-bottom: 2rem;
}
.cid-tbqHDfM8aN .card-wrapper {
  min-height: 220px;
  transition: all 0.3s;
  border-radius: 4px;
  padding: 1rem;
  background: #ffe161;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}
.cid-tbqHPc9rp9 {
  padding-top: 4rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-tbqHPc9rp9 .mbr-fallback-image.disabled {
  display: none;
}
.cid-tbqHPc9rp9 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tbqHPc9rp9 .card .card-header {
  background-color: transparent;
  margin-bottom: 0;
}
.cid-tbqHPc9rp9 .panel-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cid-tbqHPc9rp9 .mbr-iconfont {
  padding-left: 1rem;
  font-family: 'Moririse2' !important;
  font-size: 1.4rem !important;
  color: #ffffff;
}
.cid-tbqHPc9rp9 .panel-body,
.cid-tbqHPc9rp9 .card-header {
  padding: 1rem 0;
}
.cid-tbqHPc9rp9 .panel-title-edit {
  color: #000000;
}
.cid-tbqIhGQEsD {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-tbqIhGQEsD .mbr-fallback-image.disabled {
  display: none;
}
.cid-tbqIhGQEsD .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tbqIhGQEsD .card .card-header {
  background-color: transparent;
  margin-bottom: 0;
}
.cid-tbqIhGQEsD .panel-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cid-tbqIhGQEsD .mbr-iconfont {
  padding-left: 1rem;
  font-family: 'Moririse2' !important;
  font-size: 1.4rem !important;
  color: #ffffff;
}
.cid-tbqIhGQEsD .panel-body,
.cid-tbqIhGQEsD .card-header {
  padding: 1rem 0;
}
.cid-tbqIhGQEsD .panel-title-edit {
  color: #000000;
}
.cid-tbrgCgcBYk {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: #232323;
}
.cid-tbrgCgcBYk .mbr-fallback-image.disabled {
  display: none;
}
.cid-tbrgCgcBYk .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tbrgCgcBYk .list {
  list-style: none;
  padding-left: 0;
  color: #ffe161;
  text-align: left;
}
@media (max-width: 991px) {
  .cid-tbrgCgcBYk .list {
    margin-bottom: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-tbrgCgcBYk .list {
    margin-bottom: 0rem;
  }
}
@media (max-width: 767px) {
  .cid-tbrgCgcBYk .row {
    text-align: center;
  }
}
@media (max-width: 991px) {
  .cid-tbrgCgcBYk div > *:last-child {
    margin-top: 0 !important;
  }
}
.cid-tbrgCgcBYk .copyright {
  color: #bbbbbb;
}
.cid-tbrgCgcBYk .mbr-section-subtitle {
  text-align: left;
}
.cid-tbqPlm49iv {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.cid-tbqPlm49iv .mbr-fallback-image.disabled {
  display: none;
}
.cid-tbqPlm49iv .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background-image: url("../../../assets/images/background13.jpg");
}
.cid-tbqPlm49iv .mbr-text,
.cid-tbqPlm49iv .mbr-section-btn {
  color: #232323;
}
.cid-tbqPlm49iv .btn {
  width: 100%;
}
.cid-tbqPlm49iv .mbr-section-btn {
  margin-bottom: 1.2rem;
}
.cid-tbqPlm49iv H1 {
  text-align: left;
  color: #ffffff;
}
.cid-tbqPlm49iv P {
  text-align: left;
  color: #ffffff;
}
.cid-tbqNoVLmP3 {
  padding-top: 2rem;
  padding-bottom: 0rem;
  background-color: #232323;
}
.cid-tbqNoVLmP3 .mbr-fallback-image.disabled {
  display: none;
}
.cid-tbqNoVLmP3 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tbqNoVLmP3 .mbr-iconfont {
  display: block;
  font-size: 4rem;
  color: #ffffff;
  margin-bottom: 2rem;
}
.cid-tbqNoVLmP3 .card-wrapper {
  min-height: 220px;
  transition: all 0.3s;
  border-radius: 4px;
  padding: 1rem;
  background: #ffe161;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}
.cid-tbqNBZ7x32 {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tbqNBZ7x32 .counter-container ol {
  margin-bottom: 0;
  counter-reset: myCounter;
}
.cid-tbqNBZ7x32 .counter-container ol li {
  margin-bottom: 1rem;
}
.cid-tbqNBZ7x32 .counter-container ol li {
  list-style: none;
  padding-left: 1rem;
  position: relative;
}
.cid-tbqNBZ7x32 .counter-container ol li:before {
  position: absolute;
  left: -40px;
  margin-top: 5px;
  counter-increment: myCounter;
  content: counter(myCounter);
  line-height: 40px;
  transition: all .2s;
  color: #000000;
  background: #ffe161;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-tbqNBZ7x32 .mbr-text {
  text-align: left;
}
.cid-tbrgCgcBYk {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: #232323;
}
.cid-tbrgCgcBYk .mbr-fallback-image.disabled {
  display: none;
}
.cid-tbrgCgcBYk .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tbrgCgcBYk .list {
  list-style: none;
  padding-left: 0;
  color: #ffe161;
  text-align: left;
}
@media (max-width: 991px) {
  .cid-tbrgCgcBYk .list {
    margin-bottom: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-tbrgCgcBYk .list {
    margin-bottom: 0rem;
  }
}
@media (max-width: 767px) {
  .cid-tbrgCgcBYk .row {
    text-align: center;
  }
}
@media (max-width: 991px) {
  .cid-tbrgCgcBYk div > *:last-child {
    margin-top: 0 !important;
  }
}
.cid-tbrgCgcBYk .copyright {
  color: #bbbbbb;
}
.cid-tbrgCgcBYk .mbr-section-subtitle {
  text-align: left;
}
.cid-tbqQgjBU4s {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.cid-tbqQgjBU4s .mbr-fallback-image.disabled {
  display: none;
}
.cid-tbqQgjBU4s .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background-image: url("../../../assets/images/background13.jpg");
}
.cid-tbqQgjBU4s .mbr-text,
.cid-tbqQgjBU4s .mbr-section-btn {
  color: #232323;
}
.cid-tbqQgjBU4s .btn {
  width: 100%;
}
.cid-tbqQgjBU4s .mbr-section-btn {
  margin-bottom: 1.2rem;
}
.cid-tbqQgjBU4s H1 {
  text-align: left;
  color: #ffffff;
}
.cid-tbqQgjBU4s P {
  text-align: left;
  color: #ffffff;
}
.cid-tbqQgNzBHG {
  padding-top: 2rem;
  padding-bottom: 0rem;
  background-color: #232323;
}
.cid-tbqQgNzBHG .mbr-fallback-image.disabled {
  display: none;
}
.cid-tbqQgNzBHG .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tbqQgNzBHG .mbr-iconfont {
  display: block;
  font-size: 4rem;
  color: #ffffff;
  margin-bottom: 2rem;
}
.cid-tbqQgNzBHG .card-wrapper {
  min-height: 220px;
  transition: all 0.3s;
  border-radius: 4px;
  padding: 1rem;
  background: #ffe161;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}
.cid-tbqRBv6Dzs {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #fafafa;
}
.cid-tbqRBv6Dzs .mbr-fallback-image.disabled {
  display: none;
}
.cid-tbqRBv6Dzs .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tbqRBv6Dzs .oldcost {
  text-decoration: line-through;
  color: #353535;
}
.cid-tbqRBv6Dzs .currentcost {
  color: #232323;
}
.cid-tbqRBv6Dzs .card-wrapper {
  border-radius: 4px;
  background: #ffffff;
}
@media (min-width: 992px) {
  .cid-tbqRBv6Dzs .text-box {
    padding: 2rem;
    padding-right: 4rem;
  }
}
@media (max-width: 991px) {
  .cid-tbqRBv6Dzs .text-box {
    padding: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-tbqRBv6Dzs .text-box {
    padding: 1rem;
  }
}
.cid-tbqRBv6Dzs .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-tbrgCgcBYk {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: #232323;
}
.cid-tbrgCgcBYk .mbr-fallback-image.disabled {
  display: none;
}
.cid-tbrgCgcBYk .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tbrgCgcBYk .list {
  list-style: none;
  padding-left: 0;
  color: #ffe161;
  text-align: left;
}
@media (max-width: 991px) {
  .cid-tbrgCgcBYk .list {
    margin-bottom: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-tbrgCgcBYk .list {
    margin-bottom: 0rem;
  }
}
@media (max-width: 767px) {
  .cid-tbrgCgcBYk .row {
    text-align: center;
  }
}
@media (max-width: 991px) {
  .cid-tbrgCgcBYk div > *:last-child {
    margin-top: 0 !important;
  }
}
.cid-tbrgCgcBYk .copyright {
  color: #bbbbbb;
}
.cid-tbrgCgcBYk .mbr-section-subtitle {
  text-align: left;
}
.cid-tbrbnZu89T {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.cid-tbrbnZu89T .mbr-fallback-image.disabled {
  display: none;
}
.cid-tbrbnZu89T .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background-image: url("../../../assets/images/background13.jpg");
}
.cid-tbrbnZu89T .mbr-text,
.cid-tbrbnZu89T .mbr-section-btn {
  color: #232323;
}
.cid-tbrbnZu89T .btn {
  width: 100%;
}
.cid-tbrbnZu89T .mbr-section-btn {
  margin-bottom: 1.2rem;
}
.cid-tbrbnZu89T H1 {
  text-align: left;
  color: #ffffff;
}
.cid-tbrbnZu89T P {
  text-align: left;
  color: #ffffff;
}
.cid-tbrbojbgqD {
  padding-top: 2rem;
  padding-bottom: 0rem;
  background-color: #232323;
}
.cid-tbrbojbgqD .mbr-fallback-image.disabled {
  display: none;
}
.cid-tbrbojbgqD .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tbrbojbgqD .mbr-iconfont {
  display: block;
  font-size: 4rem;
  color: #ffffff;
  margin-bottom: 2rem;
}
.cid-tbrbojbgqD .card-wrapper {
  min-height: 220px;
  transition: all 0.3s;
  border-radius: 4px;
  padding: 1rem;
  background: #ffe161;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}
.cid-tbrbus7p8n {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tbrgCgcBYk {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: #232323;
}
.cid-tbrgCgcBYk .mbr-fallback-image.disabled {
  display: none;
}
.cid-tbrgCgcBYk .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tbrgCgcBYk .list {
  list-style: none;
  padding-left: 0;
  color: #ffe161;
  text-align: left;
}
@media (max-width: 991px) {
  .cid-tbrgCgcBYk .list {
    margin-bottom: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-tbrgCgcBYk .list {
    margin-bottom: 0rem;
  }
}
@media (max-width: 767px) {
  .cid-tbrgCgcBYk .row {
    text-align: center;
  }
}
@media (max-width: 991px) {
  .cid-tbrgCgcBYk div > *:last-child {
    margin-top: 0 !important;
  }
}
.cid-tbrgCgcBYk .copyright {
  color: #bbbbbb;
}
.cid-tbrgCgcBYk .mbr-section-subtitle {
  text-align: left;
}
.cid-tbrciUB9Rt {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.cid-tbrciUB9Rt .mbr-fallback-image.disabled {
  display: none;
}
.cid-tbrciUB9Rt .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background-image: url("../../../assets/images/background13.jpg");
}
.cid-tbrciUB9Rt .mbr-text,
.cid-tbrciUB9Rt .mbr-section-btn {
  color: #232323;
}
.cid-tbrciUB9Rt .btn {
  width: 100%;
}
.cid-tbrciUB9Rt .mbr-section-btn {
  margin-bottom: 1.2rem;
}
.cid-tbrciUB9Rt H1 {
  text-align: left;
  color: #ffffff;
}
.cid-tbrciUB9Rt P {
  text-align: left;
  color: #ffffff;
}
.cid-tbrcj5nr2r {
  padding-top: 2rem;
  padding-bottom: 0rem;
  background-color: #232323;
}
.cid-tbrcj5nr2r .mbr-fallback-image.disabled {
  display: none;
}
.cid-tbrcj5nr2r .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tbrcj5nr2r .mbr-iconfont {
  display: block;
  font-size: 4rem;
  color: #ffffff;
  margin-bottom: 2rem;
}
.cid-tbrcj5nr2r .card-wrapper {
  min-height: 220px;
  transition: all 0.3s;
  border-radius: 4px;
  padding: 1rem;
  background: #ffe161;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}
.cid-tbrcnInLNs {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tbrgCgcBYk {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: #232323;
}
.cid-tbrgCgcBYk .mbr-fallback-image.disabled {
  display: none;
}
.cid-tbrgCgcBYk .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tbrgCgcBYk .list {
  list-style: none;
  padding-left: 0;
  color: #ffe161;
  text-align: left;
}
@media (max-width: 991px) {
  .cid-tbrgCgcBYk .list {
    margin-bottom: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-tbrgCgcBYk .list {
    margin-bottom: 0rem;
  }
}
@media (max-width: 767px) {
  .cid-tbrgCgcBYk .row {
    text-align: center;
  }
}
@media (max-width: 991px) {
  .cid-tbrgCgcBYk div > *:last-child {
    margin-top: 0 !important;
  }
}
.cid-tbrgCgcBYk .copyright {
  color: #bbbbbb;
}
.cid-tbrgCgcBYk .mbr-section-subtitle {
  text-align: left;
}
.cid-tbrfqG6GwA {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.cid-tbrfqG6GwA .mbr-fallback-image.disabled {
  display: none;
}
.cid-tbrfqG6GwA .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background-image: url("../../../assets/images/background13.jpg");
}
.cid-tbrfqG6GwA .mbr-text,
.cid-tbrfqG6GwA .mbr-section-btn {
  color: #232323;
}
.cid-tbrfqG6GwA .btn {
  width: 100%;
}
.cid-tbrfqG6GwA .mbr-section-btn {
  margin-bottom: 1.2rem;
}
.cid-tbrfqG6GwA H1 {
  text-align: left;
  color: #ffffff;
}
.cid-tbrfqG6GwA P {
  text-align: left;
  color: #ffffff;
}
.cid-tbrfqX4KKX {
  padding-top: 2rem;
  padding-bottom: 0rem;
  background-color: #232323;
}
.cid-tbrfqX4KKX .mbr-fallback-image.disabled {
  display: none;
}
.cid-tbrfqX4KKX .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tbrfqX4KKX .mbr-iconfont {
  display: block;
  font-size: 4rem;
  color: #ffffff;
  margin-bottom: 2rem;
}
.cid-tbrfqX4KKX .card-wrapper {
  min-height: 220px;
  transition: all 0.3s;
  border-radius: 4px;
  padding: 1rem;
  background: #ffe161;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}
.cid-tbrfr8H3hC {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tbrgCgcBYk {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: #232323;
}
.cid-tbrgCgcBYk .mbr-fallback-image.disabled {
  display: none;
}
.cid-tbrgCgcBYk .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tbrgCgcBYk .list {
  list-style: none;
  padding-left: 0;
  color: #ffe161;
  text-align: left;
}
@media (max-width: 991px) {
  .cid-tbrgCgcBYk .list {
    margin-bottom: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-tbrgCgcBYk .list {
    margin-bottom: 0rem;
  }
}
@media (max-width: 767px) {
  .cid-tbrgCgcBYk .row {
    text-align: center;
  }
}
@media (max-width: 991px) {
  .cid-tbrgCgcBYk div > *:last-child {
    margin-top: 0 !important;
  }
}
.cid-tbrgCgcBYk .copyright {
  color: #bbbbbb;
}
.cid-tbrgCgcBYk .mbr-section-subtitle {
  text-align: left;
}
.cid-tbrg6iFHQa {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.cid-tbrg6iFHQa .mbr-fallback-image.disabled {
  display: none;
}
.cid-tbrg6iFHQa .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background-image: url("../../../assets/images/background13.jpg");
}
.cid-tbrg6iFHQa .mbr-text,
.cid-tbrg6iFHQa .mbr-section-btn {
  color: #232323;
}
.cid-tbrg6iFHQa .btn {
  width: 100%;
}
.cid-tbrg6iFHQa .mbr-section-btn {
  margin-bottom: 1.2rem;
}
.cid-tbrg6iFHQa H1 {
  text-align: left;
  color: #ffffff;
}
.cid-tbrg6iFHQa P {
  text-align: left;
  color: #ffffff;
}
.cid-tbrg6wja1k {
  padding-top: 2rem;
  padding-bottom: 0rem;
  background-color: #232323;
}
.cid-tbrg6wja1k .mbr-fallback-image.disabled {
  display: none;
}
.cid-tbrg6wja1k .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tbrg6wja1k .mbr-iconfont {
  display: block;
  font-size: 4rem;
  color: #ffffff;
  margin-bottom: 2rem;
}
.cid-tbrg6wja1k .card-wrapper {
  min-height: 220px;
  transition: all 0.3s;
  border-radius: 4px;
  padding: 1rem;
  background: #ffe161;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}
.cid-tbrg6Vy0mK {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tbrgCgcBYk {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: #232323;
}
.cid-tbrgCgcBYk .mbr-fallback-image.disabled {
  display: none;
}
.cid-tbrgCgcBYk .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tbrgCgcBYk .list {
  list-style: none;
  padding-left: 0;
  color: #ffe161;
  text-align: left;
}
@media (max-width: 991px) {
  .cid-tbrgCgcBYk .list {
    margin-bottom: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-tbrgCgcBYk .list {
    margin-bottom: 0rem;
  }
}
@media (max-width: 767px) {
  .cid-tbrgCgcBYk .row {
    text-align: center;
  }
}
@media (max-width: 991px) {
  .cid-tbrgCgcBYk div > *:last-child {
    margin-top: 0 !important;
  }
}
.cid-tbrgCgcBYk .copyright {
  color: #bbbbbb;
}
.cid-tbrgCgcBYk .mbr-section-subtitle {
  text-align: left;
}
